{{ define "main" }}

<div class="flex flex-col gap-1">
  <h1 class="text-2xl font-extrabold">
    {{ if .Params.header }}
      {{ .Params.header }}
    {{ else }}
      {{ .Title }}
    {{ end }}
  </h1>
  {{ with .Content }}
    {{ . }}
  {{ end }}
</div>

<section class="py-10 flex flex-col gap-10">
  <ul class="taxonomy-list">
    {{ if .Data.Terms }}
      {{ range .Data.Terms.ByCount }}
        <li>
          <a href="{{ .Page.RelPermalink }}">
            {{ .Page.Title }} ({{ .Count }})
          </a>
        </li>
      {{ end }}
    {{ else }}
      <li><span class="text-gray-500 dark:text-gray-400">Nothing here</span></li>
    {{ end }}
  </ul>
</section>

{{ end }}